{% extends 'chat/base.html' %}

{% block extracss %}
{% load static %}
<link href="{% static 'chat/img/rec_prism_scalefactor.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block extrajs %}
{% load static %}
<script src="{% static 'chat/chat.js' %}"></script>
<script src="{% static 'chat/img/rec_prism_scalefactor.js' %}"></script>
<script>
    $("document").ready(function() {
        var start_chat_image_json = {
            'ol':'{{start_chat_msg.image.ol}}',
            'ow':'{{start_chat_msg.image.ow}}',
            'oh':'{{start_chat_msg.image.oh}}',
            'sf':'{{start_chat_msg.image.sf}}'
        };
        do_when_new_img_data_recieved(start_chat_image_json)
    });
</script>
{% endblock %}

{% block content %}
{% load static %}
<div class="d-flex justify-content-center">
    <div class="col-md-12">
        <h2 class="text-center">Participant View</h2>
        <h5 class="text-center"><small>[<a href="/chat/start">Start conversation over</a>]</small></h5>
        <div class="row">
            <div class = "col">
                <!-- IMAGES GO HERE -->
                <h4>How does the scale factor change the length, width and height of the object?</h4>
                {% include 'chat/rec_prism_scalefactor.html' %}
                <!-- END IMAGES -->
            </div>
            <div class = "col">
                <!-- CHAT GOES HERE-->
                <div id="bubbles_container" class="card" style="overflow-y: scroll; height: 400; position-relative">

    			    <div id="bubbles" class="card border-0 m-0 p-0 position-relative">

                        <div class="bubble2 p-2 m-0 position-relative" data-author= {{start_chat_msg.from}} >
                            <a class="float-left"> {{start_chat_msg.text}} </a>
                        </div>

                    </div>
			    </div>

    			<div class="w-100 card-footer p-0 bg-light border border-bottom-0 border-left-0 border-right-0 text-right">
        			<textarea class="form-control" rows="3" id="user-response" placeholder="Type your response here"></textarea>
                    <button id="send-user-response" type="button" class="btn btn-primary">Send</button>
    			</div>

                <!-- END CHAT -->
            </div>
        </div>
    </div>
</div>
{% endblock %}